@charset "UTF-8";
footer {
  background-color: #53a8dd;
}
footer nav ul {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}
footer nav ul li a {
  margin-right: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* Белый */
  color: #ffffff;
}
footer .white-divider {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
}
footer .footer-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-app #google {
  height: 58px;
  width: 152px;
  margin-right: 8px;
}
footer .footer-app #apple {
  position: relative;
  top: 9px;
  height: 40px;
  width: 120px;
}
footer .footer-info {
  padding-bottom: 83px;
}
footer .footer-info__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;
}
footer .footer-info__title a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 4px;
}