header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #080702;
}
header img.header-photo-item {
  width: 256px;
  height: 73px;
  margin: 0 228px 0 199px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header nav ul li a {
  color: #fff;
  margin-right: 31px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
header .btn-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  width: 157px;
  height: 47px;
  margin-right: 23px;
  color: #ffffff;
}
header .language-dropdown {
  position: relative;
}
header .language-dropdown .dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
header .language-dropdown .dropdown-btn:hover {
  text-decoration: underline;
}
header .language-dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  background-color: #fff;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
header .language-dropdown .dropdown-content li a {
  display: block;
  color: #333;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}
header .language-dropdown .dropdown-content li a:hover {
  background-color: #f2f2f2;
}
header .language-dropdown:hover .dropdown-content {
  display: block;
}
header .btn {
  background: #29aae3;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}