@import "Nullstyle";

.btn {

  line-height: 23px;
  background-color: #000;
  border-radius: 30px ;
  display: inline-block;
}

.mainsreen {
  margin-bottom: 100px;
  &__img {
    background: url("../img/1 2.png") center center no-repeat;
    min-height: 92.8vh;
    background-size: cover;
  }
  &__container {
    width: 815px;
    height: 375px;
    color: white;
    position: relative;
    left: 202px;
    top: 166px;
    @media (max-width: 1250px) {
      position: relative;
      left: 160px;
      top: 120px;
    }
    @media (max-width: 999px) {
      position: relative;
      left: 80px;
      top: 101px;
    }
    @media (max-width: 883px) {
      max-width: 335px;
      position: relative;
      left: 0;
      top: 101px;
      margin: 0 auto;
    }
  }
  &__title {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 56px;
    @media (max-width: 883px) {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
    }
  }
  &__btn {
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    font-size: 20px;
    background-color: #54A757;
    padding: 12px 30px 12px 30px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    font-size: 26px;
    @media (max-width: 883px) {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
  }
}

