@import "Nullstyle";

.btn {

  line-height: 23px;
  background-color: #000;
  border-radius: 30px ;
  display: inline-block;
}

.mainsreen {
  &__img {
    background: url("../img/1 2.png") center center no-repeat;
    min-height: 92.8vh;
    background-size: cover;
  }
  &__container {
    max-width: 815px;
    max-height: 375px;
    color: white;
    position: relative;
    left: 202px;
    top: 166px;
  }
  &__title {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 56px;
  }
  &__btn {
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    font-size: 20px;
    background-color: #54A757;
    padding: 12px 30px 12px 30px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    font-size: 26px;

  }
}

